p{
    color:brown;
    font-size: 2em;
    background-color: blue;
}
@media screen and (min-width: 1024px)
{
    p{
        color:blue;
        font-size: 4em;
        background-color: brown;
    }
}