.hedr{
    background-color: #88629D;
}
.h1{
    color: whitesmoke;
    text-align: center;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: normal;
    background-color: #9d6294cc;
    position: sticky;
    top: 0cm;
    height: 30px;
    font-family: sans-serif;
    font-size: 35px;
  }
  
  .flex-items{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  .background{
      background-color: #88629D;
      height: 500px;
      width: 80%;
      margin-right: auto;
      margin-left: auto;
      font-family: sans-serif;
      font-size: 15px;
  }
  .background2{
      background-color: #6B629D;
      height: 500px;
      width: 80%;
      margin-right: auto;
      margin-left: auto;
  }
  .text{
      padding: 2em;
      font-size: 150%;
  }

  a:link{
      color: black;
  }
  a:visited{
      color: black;
  }
  a{
      text-decoration: none;
  }
  body{
      background-color: #30B2CF;
  }
  html{
      scroll-behavior: smooth;
  }
  .flex-container2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
  }
  
  .flex-items2{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin: 1%;
  }
  .flex-container3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
  }
  .flex-items3{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin: 1%;
  }