.header
{
display: flex;
background-color: $light-gray;
width: 100%;
height: 10vh;
justify-content: space-between;
flex-direction: row;
align-items: center;
}
.enlarged-menu
{
   display: none;
}
.logo-icon
{
    margin-left: 8%;
    height: 100%;
    img
    {
       height: 100%;
    }
}
 .burger-icon
 {
    margin-top: 5%;
    height: 50%;
    margin-right: 15%;
 }
